* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #111;
}
.p-grey-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  background: var(--text-cod-gray-900, #3d3d3d);
}
.footerColorRotate {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: var(--text-cod-gray-900, #3d3d3d);
}
.footer-get-quote:hover .footerColorRotate {
  display: none;
}
.p-grey-text {
  z-index: 1;
  padding: 8px 12px;
  color: var(--text-cod-gray-200, #d1d1d1);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.p-grey-text svg {
  width: 24px;
  height: 24px;
}
/* contact us */
.p-contact-main {
  padding: 80px 160px;
  padding-top: 196px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 139px;
}
.p-get-in-touch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 40%;
}
.p-get-in-touch-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.p-get-in-touch-text h1 {
  color: var(--default-white, #fff);
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.96px;
}

.p-get-in-touch-text p {
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.p-checkbox {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 16px;
  background: #1a1a1a;
}
.p-checkbox-cover {
  color: var(--text-cod-gray-200, #d1d1d1);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  gap: 24px;
  width: 100%;
}
.p-checkbox-cover p {
  width: 100%;
  color: var(--text-cod-gray-200, #d1d1d1);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  line-height: 20px;
}
.p-rectangle-cover {
  display: flex;
  width: 49px;
  height: 50px;
  padding: 11px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.p-rectangle {
  width: 26.727px;
  height: 27.273px;
  flex-shrink: 0;
  border: 1px solid var(--stroke-dark, #142d38);
  background: var(--text-cod-gray-100, #e7e7e7);
  box-shadow: 0px 12px 32px 0px rgba(169, 169, 173, 0.16);
}
.p-social-icons {
  display: flex;
  gap: 8px;
}
.facebook,
.linkedin,
.instagram,
.twitter {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.facebook svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.facebook:hover {
  border-radius: 40px;
  background: #1877f1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.facebook:hover svg path {
  fill: #fff;
}
.linkedin:hover {
  border-radius: 40px;
  background: #1877f1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.linkedin svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.instagram svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.instagram:hover {
  border-radius: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}

.instagram:hover svg path {
  stroke: #fff;
}
.twitter svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.twitter:hover {
  border-radius: 40px;
  background: #fff;
}

.twitter:hover svg path {
  fill: #111;
}
form {
  width: 100%;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
.p-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.p-form-top {
  width: 100%;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.name-div {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.firstName,
.lastName {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.firstName input,
.lastName input {
  display: flex;
  height: 54px;
  padding: 17px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--text-cod-gray-400, #888);
  background: transparent;
  color: white;
}
.firstName p,
.lastName p {
  color: var(--text-cod-gray-50, #f6f6f6);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.p-enquire-about {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.p-enquire-title {
  color: var(--text-cod-gray-50, #f6f6f6);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.p-checkbox-main {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
}
.p-checkbox-main p {
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
}

.p-checkbox-top,
.p-checkbox-btm {
  display: flex;
  gap: 16px;
}

.p-checkbox-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.checkbox-input {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border: 1px solid rgba(246, 246, 246, 0.6);
  background: #111111;
}

.p-textarea-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.p-textarea-container p {
  color: var(--text-cod-gray-50, #f6f6f6);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

textarea {
  border-radius: 8px;
  border: 1px solid var(--text-cod-gray-400, #888);
  background: transparent;
  width: 100%;
  color: white;
  resize: none;
  padding: 16px 8px;
}
.p-submit {
  width: 100%;
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--text-cod-gray-200, #d1d1d1);
  color: var(--text-cod-gray-950-header, #090909);
  font-family: "Merriweather Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

/* FAQ */

.p-FAQ {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.p-faq-label {
  color: #fff;
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  border-bottom: 1px dashed #142d38;
}
.p-faq-title {
  color: var(--default-white, #fff);
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  width: 50%;
}
.p-faq-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.faq-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.faq-text p {
  color: var(--text-cod-gray-50, #f6f6f6);
  font-family: "Merriweather Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.faq-container {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: #1a1a1a;
  flex-direction: column;
}
.p-faq-dropdown {
  display: flex;
  padding: 16px 0px 0px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  background: #1a1a1a;
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  height: fit-content;
  transition: all 0.3s ease-in-out;
  animation: identifier 0.5s linear forwards;
}

@keyframes identifier {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

/* products */

.p-products {
  display: flex;
  padding: 120px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}

.p-product-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.p-product-label {
  color: #fff;
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
}

.p-product-text-container h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 600px;
}

.p-product-text-container span {
  color: #fff;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.p-product-subtext {
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 800px;
}
.p-product-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.p-horizontal-card {
  align-self: stretch;
  border-radius: 16px;
  border: 3px solid #111;
  /* background: linear-gradient(#1a1a1a, #1a1a1a) padding-box,
    linear-gradient(to top, #36a7be66 40%, #36a7be 70%, #111111 100%) border-box;
} */
  background: linear-gradient(#1a1a1a, #1a1a1a) padding-box,
    linear-gradient(320deg, #36a7be66 10%, #36a7be 30%, #111111 100%) border-box;
  cursor: pointer;
}
.p-horizontal-card:hover {
  border-image: linear-gradient(
    to top,
    #36a7be66 40%,
    #36a7be 70%,
    #111111 100%
  );
  transition: 0.5s ease-in-out;
  background-color: #111 !important;
  border: double 3px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.p-card-container {
  padding: 32px;
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.p-gokart-label {
  display: flex;
  height: 41px;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.p-gokart-label p {
  color: var(--primary-pelorous-50, #f0fbfb);
  font-family: Merriweather;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  width: 100%;
}

.p-product-subtext {
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.p-product-desc {
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.p-img-cover {
  height: 450px;
  width: 100%;
}
.p-img-cover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.p-gokart-text-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.p-vertical-card-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  gap: 16px;
}
.p-vertical-card {
  padding: 0px;
  align-self: stretch;
  border-radius: 16px;
  border: 3px solid #111;
  background: linear-gradient(#1a1a1a, #1a1a1a) padding-box,
    linear-gradient(320deg, #36a7be66 10%, #36a7be 30%, #111111 100%) border-box;
  cursor: pointer;
}
.p-vertical-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 32px;
  align-items: flex-start;
  gap: 24px;
}
.p-vertical-card:hover {
  border-image: linear-gradient(
    to top,
    #36a7be66 40%,
    #36a7be 70%,
    #111111 100%
  );
  transition: 0.5s ease-in;
  border: double 3px transparent;
  background-origin: border-box;
}
.p-img-cover-vertical {
  width: 100%;
  height: 304px;
}
.p-img-cover-vertical img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

/* testimony */
.p-testimonies {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}

.p-testimonies-label {
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: 100%;
}
.p-testimonies-label p {
  color: #fff;
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.p-testimonies-label h1 {
  width: 569px;
  color: var(--default-white, #fff);
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.p-testimonies-label span {
  font-weight: 700;
}
.p-testimonies-item {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 100%;
}
.p-testimonies-container {
  display: flex;
  gap: 22px;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.p-arrow-left,
.p-arrow-right {
  display: flex;
  width: 22.307px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: center;
}
.p-center-line {
  width: 3px;
  height: 138px;
  background: linear-gradient(
      0deg,
      rgba(54, 167, 190, 0) 0%,
      rgba(54, 167, 190, 0) 100%
    ),
    linear-gradient(180deg, #142d38 0%, #387f9e 100%);
}
.p-testimonies-card {
  display: flex;
  width: 100%;
  height: 138px;
  align-items: center;
  gap: 24px;
}
.p-testimony-div {
  display: flex;
  gap: 52px;
}
.p-testimony-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.p-circle-img-cover {
  height: fit-content;
  width: fit-content;
}
.p-circle-img-cover img {
  width: 96px;
  height: 96px;
  border-radius: 96px;
}
.p-testimony-text h1 {
  color: var(--text-cod-gray-50, #f6f6f6);
  font-family: "Merriweather Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.p-testimony-text p {
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.p-dots-container {
  display: flex;
  width: 100%;
  height: 2px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

/* AboutUs */
.p-aboutUs-main {
  display: flex;
  gap: 48px;
  flex-direction: column;
}
.p-our-World-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 100px;
  justify-content: space-between;
}

.p-xlr8-background {
  display: inline-flex;
  height: fit-content;
  padding-right: 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 17.363px;
  text-align: center;
  width: 100%;
  opacity: 0.2;
  padding-top: 175px;
  position: relative;
  z-index: 0;
}

.p-our-world-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 280px;
  gap: 24px;
  align-self: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  z-index: 1;
}

.p-our-world-main-heading {
  color: var(--text-cod-gray-50, #f6f6f6);
  text-align: center;
  text-shadow: 1px 1px 14px rgba(54, 167, 190, 0.58);
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: -1.44px;
}

.p-our-world-subtext {
  color: var(--text-cod-gray-300, #b0b0b0);
  text-align: center;
  font-family: "Merriweather Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 30%;
}
.p-img-gallery-horizontal {
  display: flex;
  width: 100%;
  height: 157px;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.p-gallery-img-cover {
  width: 100%;
  height: 100%;
}

.p-gallery-img-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-our-journey-main {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.p-journey-label {
  width: 100%;
  color: #fff;
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #142d38;
}
.p-journey-text-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
.p-journey-main-heading {
  width: 35%;
}
.p-journey-main-heading h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.96px;
}
.p-journey-main-heading span {
  color: #fff;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.96px;
}
.p-journey-desc-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.p-journey-desc p {
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.p-explore-btn-container {
  color: var(--text-cod-gray-50, #f6f6f6);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  gap: 8px;
}
.p-explore-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.p-why-choose-us {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.p-features-label {
  width: 100%;
  color: #fff;
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 10px;
  line-height: 24px;
  border-bottom: 1px dashed #142d38;
}
.p-why-choose-us-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.p-why-choose-right.p-why-choose-left {
  width: 50%;
}
.p-why-choose-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.p-why-choose-right h1 {
  color: var(--default-white, #fff);
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.p-why-choose-right span {
  font-weight: 700;
}
.p-why-choose-right p {
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.p-rectangle-svg {
  width: 80px;
  height: 80px;
}
.p-choose-us-desc {
  display: flex;
  padding: 24px;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.p-why-choose-us-text h1 {
  color: var(--text-cod-gray-50, #f6f6f6);
  font-family: "Merriweather Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.p-why-choose-us-text p {
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.p-behind-the-name-main {
  display: flex;
  padding: 120px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.p-behind-name-cover {
  display: flex;
  height: 356px;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: #151515;
  box-shadow: -5px 4px 40px 0px rgba(26, 26, 26, 0.9);
}

.p-behind-div {
  background-image: linear-gradient(#151515, #151515),
    linear-gradient(180deg, #3d3d3d 10%, #151515 50%);
  border: double 1px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 8px;
}

.p-behind-the-name-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
.p-behind-the-name-text h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.96px;
}
.p-behind-the-name-text span {
  font-weight: 700;
}
.p-behind-the-name-text p {
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.p-perfect-ride-main {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.p-process-label {
  color: #fff;
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-bottom: 1px dashed #142d38;
  width: 100%;
  padding-bottom: 10px;
}
.p-perfect-ride-text h1 {
  color: var(--default-white, #fff);
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.p-perfect-ride-text span {
  font-weight: 700;
}
.p-perfect-ride-text p {
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 418px;
}
.p-line-container {
  display: flex;
  padding: 80px 0px 40px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.p-line-container svg {
  width: 100%;
  height: 100%;
}
.p-electrify-main {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.p-ev-label {
  color: #fff;
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-bottom: 1px dashed #142d38;
  width: 100%;
  padding-bottom: 10px;
}
.p-electrify-text h1 {
  color: var(--text-cod-gray-50, #f6f6f6);
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.96px;
  width: 547px;
}
.p-electrify-text span {
  color: var(--text-cod-gray-50, #f6f6f6);
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.96px;
}

.p-electrify-text p {
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 812px;
}

.p-electrify-desc {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  padding: 24px 0 0 0;
}
.p-text-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  width: 100%;
  align-items: flex-start;
}
.p-text-card h1 {
  color: var(--text-cod-gray-50, #f6f6f6);
  font-family: "Merriweather Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.p-text-card p {
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.p-collection-gallery-main {
  display: flex;
  width: 100%;
  height: 1015px;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.p-collecting-label {
  color: var(--text-cod-gray-50, #f6f6f6);
  font-family: Merriweather;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.72px;
}
.p-gallery-left,
.p-gallery-mid,
.p-gallery-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 33%;
}
.p-gallery-grid {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
  padding-bottom: 48px;
}
.p-img-container-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-get-quote.secondary:hover .footerLinkText {
  color: var(--text-cod-gray-900, #3d3d3d);
}
.p-vertical-card:hover .footer-get-quote.secondary {
  background-color: #fff !important;
}

.p-horizontal-card:hover .footer-get-quote.secondary {
  background-color: #fff !important;
}

.p-vertical-card:hover svg path {
  stroke: #3d3d3d;
  border: none;
}
.p-horizontal-card:hover svg path {
  stroke: #3d3d3d;
  border: none;
}

.p-advantages-main {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.p-advantages-label {
  color: #fff;
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #142d38;
  width: 100%;
}
.p-adv-text-div {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  flex-direction: column;
}
.p-adv-text-div h1 {
  color: var(--default-white, #fff);
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 652px;
}
.p-adv-text-div span {
  font-weight: 700;
}
.p-adv-text-div p {
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 800px;
}
.p-advantage-container-cover {
  display: flex;
  gap: 48px;
  flex-direction: column;
}
.p-adv-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.p-icon-cover {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: radial-gradient(
    203.38% 99.14% at 50% 0%,
    #d1d1d1 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.p-icon-text {
  display: flex;
  width: 198px;
  align-items: center;
  gap: 24px;
}
.p-icon-animate {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
}
.p-icon-animate img {
  width: 100%;
  height: 100%;
}
.p-line-div {
  width: 914.948px;
  height: 71.055px;
  transform: rotate(-16.698deg);
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #fff;
}
.p-hero {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
}
.p-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.p-track {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  padding-top: 168px;
  z-index: 10;
}
.p-track-text-div {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.p-track-text-div h1 {
  color: var(--default-white, #fff);
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: -1.44px;
  width: 607px;
}
.p-track-text-div span {
  font-weight: 700;
}
.p-track-text-div p {
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 429px;
}
.p-hero-background {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  text-align: center;
  width: 50%;
  opacity: 1.2;
  padding-top: 154px;
  z-index: 10;
  mix-blend-mode: screen;
}

.p-hero-svg svg {
  fill: rgba(230, 227, 227, 0.212);
}

.p-three-sixty-main {
  display: flex;
  height: 1018px;
  padding: 120px 160px 80px 160px;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  width: 100%;
}
.p-buggy-container {
  display: flex;
  padding-left: 35px;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}
.p-buggy-inner-div {
  display: flex;
  width: 100%;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: flex-end;
}
.p-label-cover-div {
  display: flex;
  padding-right: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: -52px;
  align-self: stretch;
}
.p-gap-div {
  display: flex;
  padding-bottom: 8px;
  align-items: flex-start;
  gap: -431px;
  align-self: stretch;
}
.p-buggy-text-container {
  display: flex;
  width: 508px;
  flex-direction: column;
  align-items: flex-start;
  gap: -120px;
}
.p-buggy-text-container p {
  color: rgba(241, 241, 241, 0.08);
  font-family: Kanit;
  font-size: 146px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4.38px;
  text-transform: uppercase;
}
.p-buggy-second-div {
  display: flex;
  width: 995px;
  height: 701px;
  padding: 43px 28px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  border: 2px dashed #387f9e;
}
.p-gokart-main {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.p-component-label {
  display: flex;
  width: 100%;
}
.p-component-label p {
  color: var(--default-white, #fff);
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  width: 100%;
}
.p-gokart-div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.p-track-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 0px;
  top: 0;
  position: absolute;
  padding: 0px 160px;
}
.p-gokart-img-cover img {
  z-index: 1;
}
.p-zoom-point {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  position: absolute;
  z-index: 999;
}
.p-zoom-point.one {
  padding: 517px 0 0 75px;
}
.p-zoom-point.two {
  padding: 533px 0 0 235px;
}
.p-zoom-point.three {
  padding: 401px 0 0 268px;
}
.p-zoom-point.four {
  padding: 232px 0 0 239px;
}
.p-zoom-point.five {
  padding: 37px 0 0 315px;
}
.after {
  display: none;
}
