* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 112px;
  background: #111;
  position: fixed;
}

.navbar-container {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
  border-radius: 24px;
  border: 0.5px solid rgba(136, 136, 136, 0.7);
  background: linear-gradient(
    90deg,
    rgba(17, 17, 17, 0.36) 0%,
    rgba(17, 17, 17, 0.3) 104.81%
  );
}
.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-logo img {
  width: 92px;
  height: 29.801px;
  flex-shrink: 0;
}

.navbar-buttons-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar-buttons-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.navbarMainLinkText {
  color: #b0b0b0;
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
}

.navbarMainLinkText:hover {
  color: #fff;
}

.navbar-contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--text-cod-gray-100, #e7e7e7);
  cursor: pointer;
  position: relative;
  width: 127px;
}

.navbar-contact-button:hover .borderColorRotate {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 127px;
  border-radius: 8px;
  background: linear-gradient(0deg, #36a7be 0%, #111111 50%);
  --_w: conic-gradient(#36a7be 0%, #111111 50%),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_w);
  mask: var(--_w);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  padding: 1px;
  animation: borderColorRotate 1.5s ease infinite;
}

@keyframes borderColorRotate {
  0% {
    background: linear-gradient(0deg, #36a7be 0%, #111111 50%);
  }
  3.125% {
    background: linear-gradient(11.25deg, #36a7be 0%, #111111 50%);
  }
  6.25% {
    background: linear-gradient(22.5deg, #36a7be 0%, #111111 50%);
  }
  9.375% {
    background: linear-gradient(33.75deg, #36a7be 0%, #111111 50%);
  }
  12.5% {
    background: linear-gradient(45deg, #36a7be 0%, #111111 50%);
  }
  15.625% {
    background: linear-gradient(56.25deg, #36a7be 0%, #111111 50%);
  }
  18.75% {
    background: linear-gradient(67.5deg, #36a7be 0%, #111111 50%);
  }
  21.875% {
    background: linear-gradient(78.75deg, #36a7be 0%, #111111 50%);
  }
  25% {
    background: linear-gradient(90deg, #36a7be 0%, #111111 50%);
  }
  28.125% {
    background: linear-gradient(101.25deg, #36a7be 0%, #111111 50%);
  }
  31.25% {
    background: linear-gradient(112.5deg, #36a7be 0%, #111111 50%);
  }
  34.375% {
    background: linear-gradient(123.75deg, #36a7be 0%, #111111 50%);
  }
  37.5% {
    background: linear-gradient(135deg, #36a7be 0%, #111111 50%);
  }
  40.625% {
    background: linear-gradient(146.25deg, #36a7be 0%, #111111 50%);
  }
  43.75% {
    background: linear-gradient(157.5deg, #36a7be 0%, #111111 50%);
  }
  46.875% {
    background: linear-gradient(168.75deg, #36a7be 0%, #111111 50%);
  }
  50% {
    background: linear-gradient(180deg, #36a7be 0%, #111111 50%);
  }
  53.125% {
    background: linear-gradient(191.25deg, #36a7be 0%, #111111 50%);
  }
  56.25% {
    background: linear-gradient(202.5deg, #36a7be 0%, #111111 50%);
  }
  59.375% {
    background: linear-gradient(213.75deg, #36a7be 0%, #111111 50%);
  }
  62.5% {
    background: linear-gradient(225deg, #36a7be 0%, #111111 50%);
  }
  65.625% {
    background: linear-gradient(236.25deg, #36a7be 0%, #111111 50%);
  }
  68.75% {
    background: linear-gradient(247.5deg, #36a7be 0%, #111111 50%);
  }
  71.875% {
    background: linear-gradient(258.75deg, #36a7be 0%, #111111 50%);
  }
  75% {
    background: linear-gradient(270deg, #36a7be 0%, #111111 50%);
  }
  78.125% {
    background: linear-gradient(281.25deg, #36a7be 0%, #111111 50%);
  }
  81.25% {
    background: linear-gradient(292.5deg, #36a7be 0%, #111111 50%);
  }
  84.375% {
    background: linear-gradient(303.75deg, #36a7be 0%, #111111 50%);
  }
  87.5% {
    background: linear-gradient(315deg, #36a7be 0%, #111111 50%);
  }
  90.625% {
    background: linear-gradient(326.25deg, #36a7be 0%, #111111 50%);
  }
  93.75% {
    background: linear-gradient(337.5deg, #36a7be 0%, #111111 50%);
  }
  96.875% {
    background: linear-gradient(348.75deg, #36a7be 0%, #111111 50%);
  }
  100% {
    background: linear-gradient(360deg, #36a7be 0%, #111111 50%);
  }
}

.navbarLinkText {
  z-index: 1;
  width: 127px;
  padding: 12px 24px;
  color: var(--text-cod-gray-900, #3d3d3d);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
}

.navbar-contact-button:hover {
  background: transparent;
}

.navbar-contact-button:hover .navbarLinkText {
  color: #fff;
}

/* Gallery */

.s-gallery {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.s-sub-heading {
  color: #fff;
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  padding-bottom: 8px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-bottom: 1px dashed #142d38;
}

.s-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  color: var(--default-white, #fff);
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.s-heading span {
  color: var(--default-white, #fff);
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.s-heading-sub-text {
  width: 418px;
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.s-galler-container {
  display: flex;
  width: 100%;
  height: 625px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.s-gallery-img-container {
  display: flex;
  width: 90%;
  height: 625px;
  align-items: flex-start;
  gap: 40px;
  border-radius: 8px;
  align-self: stretch;
  overflow: hidden;
}

.s-gallery-img-container img {
  width: 100%;
  height: 625px;
  object-fit: cover;
}

.s-gallery-option-container {
  display: flex;
  width: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28.517px;
  align-self: stretch;
}

.s-gallery-controls {
  cursor: pointer;
  width: 28.517px;
  height: 24px;
}

.s-gallery-option-img-container {
  display: flex;
  width: 100%;
  height: 511px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  overflow: hidden;
}

.s-gallery-option-img-container img {
  width: 100%;
  height: 74.054px;
  object-fit: cover;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--stroke-dark, #142d38);
}

.s-gallery-not-active-img {
  filter: blur(2px);
}

/* Components */

.componentsBanner {
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.componentsBanner img {
  width: 100%;
  height: 100svh;
}

.componentsContainer {
  display: flex;
  padding: 128px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}

.componentsMainContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.componentsSelectorContainer {
  display: flex;
  width: 227px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.componentsSelectorSet {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  cursor: pointer;
}

.componentsSelectorSet .line {
  width: 1px;
  height: 28px;
  background: linear-gradient(to bottom, #111111, #ffffff, #111111);
}

.componentsSelectorContainer .active .line {
  width: 2.5px;
  background: linear-gradient(
    to bottom,
    #111111,
    #194d58,
    #36a7be,
    #194d58,
    #111111
  );
}

.componentsSelectorSet p {
  color: var(--text-cod-gray-700, #4f4f4f);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.componentsSelectorContainer .active p {
  color: var(--text-cod-gray-200, #d1d1d1);
  font-family: "Merriweather Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}


.componentDisplayContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 40px;
}

.componentDisplayHeading{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}

.componentDisplayHeading p{
  color: #FFF;
font-family: Merriweather;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;
}

.componentDisplayHeading span{
  width: 552px;
  color: var(--text-cod-gray-400, #888);
font-family: "Merriweather Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.componentDisplayDiv{
  width: 100%;
  display: flex;
align-items: center;
gap: 24px;
}

.componentDisplaySet{
  display: flex;
width: 50%;
height: 396px;
flex-direction: column;
align-items: center;
  border-radius: 4px;
border: 1px solid var(--text-cod-gray-900, #3D3D3D);
box-shadow: -5px 4px 40px 0px rgba(113, 113, 113, 0.15);
}

.componentDisplayImg{
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.componentDisplayImg img{
  width: 100%;
  object-fit: cover;
}

.componentDisplayTextContainer{
  display: flex;
padding: 8px 16px 16px 16px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}

.componentDisplayText{
  display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}

.componentDisplayText p{
  color: var(--default-white, #FFF);
font-family: "Merriweather Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}

.componentDisplayText span{
  color: var(--text-cod-gray-400, #888);
font-family: "Merriweather Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.componentDisplayTextContainer .price{
  color: var(--text-cod-gray-200, #D1D1D1);
font-family: "Merriweather Sans";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px;
}

.componentButtonDiv{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.componentButton{
  display: flex;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 8px;
background: var(--text-cod-gray-100, #E7E7E7);
cursor: pointer;
}

.componentButton p{
  color: var(--text-cod-gray-900, #3D3D3D);
font-family: "Merriweather Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.SeeLess svg{
  transform: rotate(-180deg);
}

/* Footer */

.footer {
  display: flex;
  width: 100%;
  height: 439px;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(90deg, #0a0b0f 45%, rgba(9, 10, 14, 0.34) 100%),
    url("./src/assets/footerBackground.png") no-repeat;
  background-position: right 0 top 0;
  overflow: hidden;
  gap: 24px;
}

.footer-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

.footer-text p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: var(--default-white, #fff);
  text-overflow: ellipsis;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.96px;
}

.footer-text-span {
  display: -webkit-box;
  width: 493px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  color: var(--text-cod-gray-300, #b0b0b0);
  text-overflow: ellipsis;
  font-family: "Merriweather Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.footer-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.footer-get-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.footerLinkText {
  z-index: 1;
  padding: 12px 24px;
  color: var(--text-cod-gray-50, #f6f6f6);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.footerLinkText svg {
  width: 24px;
  height: 24px;
}

.footerColorRotate {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(0deg, #36a7be 0%, #111111 50%);
  --_w: conic-gradient(#36a7be 0%, #111111 50%),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_w);
  mask: var(--_w);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  padding: 1px;
  animation: borderColorRotate 1.5s ease infinite;
}

.footer-get-quote:hover {
  background: #888888;
}

.footer-get-quote:hover .footerColorRotate {
  display: none;
}

.footer-get-quote:hover .footerLinkText {
  color: var(--text-cod-gray-900, #3d3d3d);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer-get-quote:hover svg path {
  stroke: #3d3d3d;
}

.footer .navbarLinkText {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerLine {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #111, #e7e7e7, #111);
}

.footerEnd {
  width: 100%;
  display: flex;
  padding: 24px 160px;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;
}

.footerEndLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.footerEndLeftTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.footerEndLeftTextContainer p {
  color: var(--text-cod-gray-200, #d1d1d1);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footerEndLeftTextContainer span {
  color: #fff;
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footerEndLeftTextContainer a {
  background: linear-gradient(
    90deg,
    #ffbf00 30.34%,
    #d9d9d9 63.52%,
    #ffbf00 97.92%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.footerEndRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
  flex: 1 0 0;
}

.footerEndRightSvg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footerEndRightSvg a:hover svg path {
  stroke: #fff;
}

.footerEndRightTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.footerEndRightTextContainer a {
  color: var(--text-cod-gray-200, #d1d1d1);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.footerEndRightTextContainer a:hover {
  color: #fff;
}

/* Error 404 */

.Error404 {
  display: flex;
  width: 100%;
  min-height: 100svh;
  padding: 0px 160px 80px 160px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #111;
}

.Error404-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.Error-text {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.Error-text p {
  color: var(--default-white, #fff);
  text-align: center;
  font-family: "Merriweather";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.Error-text span {
  color: var(--text-cod-gray-200, #d1d1d1);
  text-align: center;
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.go-back-button {
  width: 140px;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  background: var(--text-cod-gray-900, #3d3d3d);
  cursor: pointer;
}

.go-back-button p {
  color: var(--text-cod-gray-100, #e7e7e7);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.go-back-button:hover p {
  color: var(--default-white, #fff);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.Error-car {
  position: relative;
}

.loader1 {
  position: absolute;
  bottom: 29px;
  left: calc(50% - 235px);
}

.loader2 {
  position: absolute;
  bottom: 30px;
  left: calc(50% + 83px);
}

.loader {
  width: 102px;
  padding: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: conic-gradient(#36a7be, #263238);
  --_m: conic-gradient(#36a7be, #263238), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
