* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 112px;
  position: fixed;
  z-index: 1000;
  background: transparent;
  backdrop-filter: blur(5px);
}

.mobileNavbarButton {
  display: none;
}

.mobileNavbar {
  display: none;
}

.navbar-container {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
  border-radius: 24px;
  border: 0.5px solid rgba(136, 136, 136, 0.7);
  background: linear-gradient(
    90deg,
    rgba(17, 17, 17, 0.36) 0%,
    rgba(17, 17, 17, 0.3) 104.81%
  );
}
.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-logo img {
  width: 92px;
  height: 29.801px;
  flex-shrink: 0;
}

.navbar-buttons-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar-buttons-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.navbarMainLinkText {
  color: #b0b0b0;
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
}

.navbarMainLinkText:hover {
  color: #fff;
}

.navbar-contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--text-cod-gray-100, #e7e7e7);
  cursor: pointer;
  position: relative;
  width: 127px;
}

.navbar-contact-button:hover .borderColorRotate {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 127px;
  border-radius: 8px;
  background: linear-gradient(0deg, #36a7be 0%, #111111 50%);
  --_w: conic-gradient(#36a7be 0%, #111111 50%),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_w);
  mask: var(--_w);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  padding: 1px;
  animation: borderColorRotate 1.5s ease infinite;
}

@keyframes borderColorRotate {
  0% {
    background: linear-gradient(0deg, #36a7be 0%, #111111 50%);
  }
  3.125% {
    background: linear-gradient(11.25deg, #36a7be 0%, #111111 50%);
  }
  6.25% {
    background: linear-gradient(22.5deg, #36a7be 0%, #111111 50%);
  }
  9.375% {
    background: linear-gradient(33.75deg, #36a7be 0%, #111111 50%);
  }
  12.5% {
    background: linear-gradient(45deg, #36a7be 0%, #111111 50%);
  }
  15.625% {
    background: linear-gradient(56.25deg, #36a7be 0%, #111111 50%);
  }
  18.75% {
    background: linear-gradient(67.5deg, #36a7be 0%, #111111 50%);
  }
  21.875% {
    background: linear-gradient(78.75deg, #36a7be 0%, #111111 50%);
  }
  25% {
    background: linear-gradient(90deg, #36a7be 0%, #111111 50%);
  }
  28.125% {
    background: linear-gradient(101.25deg, #36a7be 0%, #111111 50%);
  }
  31.25% {
    background: linear-gradient(112.5deg, #36a7be 0%, #111111 50%);
  }
  34.375% {
    background: linear-gradient(123.75deg, #36a7be 0%, #111111 50%);
  }
  37.5% {
    background: linear-gradient(135deg, #36a7be 0%, #111111 50%);
  }
  40.625% {
    background: linear-gradient(146.25deg, #36a7be 0%, #111111 50%);
  }
  43.75% {
    background: linear-gradient(157.5deg, #36a7be 0%, #111111 50%);
  }
  46.875% {
    background: linear-gradient(168.75deg, #36a7be 0%, #111111 50%);
  }
  50% {
    background: linear-gradient(180deg, #36a7be 0%, #111111 50%);
  }
  53.125% {
    background: linear-gradient(191.25deg, #36a7be 0%, #111111 50%);
  }
  56.25% {
    background: linear-gradient(202.5deg, #36a7be 0%, #111111 50%);
  }
  59.375% {
    background: linear-gradient(213.75deg, #36a7be 0%, #111111 50%);
  }
  62.5% {
    background: linear-gradient(225deg, #36a7be 0%, #111111 50%);
  }
  65.625% {
    background: linear-gradient(236.25deg, #36a7be 0%, #111111 50%);
  }
  68.75% {
    background: linear-gradient(247.5deg, #36a7be 0%, #111111 50%);
  }
  71.875% {
    background: linear-gradient(258.75deg, #36a7be 0%, #111111 50%);
  }
  75% {
    background: linear-gradient(270deg, #36a7be 0%, #111111 50%);
  }
  78.125% {
    background: linear-gradient(281.25deg, #36a7be 0%, #111111 50%);
  }
  81.25% {
    background: linear-gradient(292.5deg, #36a7be 0%, #111111 50%);
  }
  84.375% {
    background: linear-gradient(303.75deg, #36a7be 0%, #111111 50%);
  }
  87.5% {
    background: linear-gradient(315deg, #36a7be 0%, #111111 50%);
  }
  90.625% {
    background: linear-gradient(326.25deg, #36a7be 0%, #111111 50%);
  }
  93.75% {
    background: linear-gradient(337.5deg, #36a7be 0%, #111111 50%);
  }
  96.875% {
    background: linear-gradient(348.75deg, #36a7be 0%, #111111 50%);
  }
  100% {
    background: linear-gradient(360deg, #36a7be 0%, #111111 50%);
  }
}

.navbarLinkText {
  z-index: 1;
  width: 127px;
  padding: 12px 24px;
  color: var(--text-cod-gray-900, #3d3d3d);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
}

.navbar-contact-button:hover {
  background: transparent;
}

.navbar-contact-button:hover .navbarLinkText {
  color: #fff;
}

/* Gallery */

.s-gallery {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.s-sub-heading {
  color: #fff;
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  padding-bottom: 8px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-bottom: 1px dashed #142d38;
}

.s-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  color: var(--default-white, #fff);
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.s-heading span {
  color: var(--default-white, #fff);
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.s-heading-sub-text {
  width: 100%;
  color: var(--text-cod-gray-300, #b0b0b0);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.s-galler-container {
  display: flex;
  width: 100%;
  height: 625px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.s-gallery-img-container {
  display: flex;
  width: 90%;
  height: 625px;
  align-items: flex-start;
  gap: 40px;
  border-radius: 8px;
  align-self: stretch;
  overflow: hidden;
}

.s-gallery-img-container img {
  width: 100%;
  height: 625px;
  object-fit: cover;
}

.s-gallery-option-container {
  display: flex;
  width: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28.517px;
  align-self: stretch;
}

.s-gallery-controls {
  cursor: pointer;
  width: 28.517px;
  height: 24px;
}

.s-gallery-option-img-container {
  display: flex;
  width: 100%;
  height: 511px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  overflow: hidden;
}

.s-gallery-option-img-container img {
  width: 100%;
  height: 74.054px;
  object-fit: cover;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--stroke-dark, #142d38);
}

.s-gallery-not-active-img {
  filter: blur(2px);
}

/* Products */

.mainProducts {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  padding-top: 196px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.mainProductsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.mainProductsSet {
  display: flex;
  height: 362px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
  border-radius: 4px;
  border: 1px solid #3d3d3d;
  box-shadow: -5px 4px 40px 0px rgba(113, 113, 113, 0.15);
  text-decoration: none;
}

.mainProductsImg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 246px;
  overflow: hidden;
}

.mainProductsImg img {
  width: 100%;
  height: 246px;
  object-fit: contain;
}

.mainProductsText {
  width: 100%;
  display: flex;
  padding: 24px 12px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: #fff;
  font-family: "Merriweather Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.productContainer {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}

.productBanner {
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.productBanner img {
  width: 100%;
  height: 100svh;
  object-fit: cover;
}

.productDescription {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}

.productDescriptionContainer {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.productDescriptionSet {
  display: flex;
  padding: 0px 40px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}

.productDescriptionSet span {
  color: var(--text-cod-gray-300, #b0b0b0);
  text-align: center;
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.productDescriptionSet p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--White, #fffffb);
  text-align: center;
  font-family: "Merriweather Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.productDescriptionSet sub {
  color: var(--White, #fffffb);
  text-align: center;
  font-family: "Merriweather Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.productBenifits {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.productBenifitsContainer {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}

.productBenifitsContainer .s-heading {
  width: 50%;
}

.s-heading-sub-text {
  width: 418px;
}

.productBenifitsLink {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--text-cod-gray-900, #3d3d3d);
  text-decoration: none;
}

.productBenifitsLink p {
  color: var(--text-cod-gray-200, #d1d1d1);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.productBenifitsImg {
  width: 50%;
  height: 458px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productBenifitsImg img {
  width: 100%;
  height: 458px;
  object-fit: cover;
}

.productPrecision {
  width: 100%;
  display: flex;
  padding: 80px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.productPrecisionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  align-self: stretch;
  background: #151515;
  box-shadow: -5px 4px 40px 0px rgba(26, 26, 26, 0.9);
  border-radius: 8px;
  background-image: linear-gradient(#151515, #151515),
    linear-gradient(180deg, #3d3d3d 10%, #151515 50%);
  border: double 1px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.productPrecisionContainer .s-heading {
  width: 450.5px;
}

.productPrecisionImg {
  width: 437.5px;
}

.productPrecisionImg img {
  width: 100%;
  object-fit: cover;
}

.productSpecification {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}

.productSpecificationHeading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.productSpecificationContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productSpecificationSet {
  width: 20%;
  display: flex;
  height: 388px;
  align-items: flex-start;
  gap: 26px;
  transition: all 0.5s;
  border-right: 1px solid;
  border-image: linear-gradient(
      0deg,
      rgba(54, 167, 190, 0) 0%,
      rgba(54, 167, 190, 0) 100%
    ),
    linear-gradient(180deg, #142d38 0%, #387f9e 100%);
  border-image-slice: 1;
  position: relative;
  cursor: pointer;
}

.productSpecificationSet .productHeading {
  position: absolute;
  white-space: nowrap;
  transition: all 0.5s;
  color: var(--text-cod-gray-50, #f6f6f6);
  font-family: "Merriweather Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.productSpecificationSet:hover {
  width: 50%;
}

.productSpecificationSet:hover .productHeading {
  color: var(--primary-pelorous-500-primary, #36a7be);
  font-family: "Merriweather Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  top: 0px;
  left: 12px;
  transform: rotate(0deg);
}

.productSpecificationSet:hover .productSpecificationInfo {
  display: flex;
}

.productSpecificationInfo {
  width: 100%;
  display: none;
  padding: 16px 32px;
  margin-top: 24px;
  flex-direction: column;
  align-items: flex-start;
  animation: productInfo 1s ease-in forwards;
}

@keyframes productInfo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.productSpecificationInfoSet {
  width: 100%;
  display: flex;
  padding: 12px 0px;
  justify-content: space-between;
  align-items: flex-end;
  gap: 4px;
}

.productSpecificationInfoSet p {
  color: var(--text-cod-gray-200, #d1d1d1);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.productSpecificationInfoSet span {
  color: var(--text-cod-gray-200, #d1d1d1);
  text-align: right;
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.productVarients {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}

.productVarientsContainer {
  height: 348px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.productVarientsDiv {
  height: 348px;
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.productVarientsSet {
  width: 100%;
  height: 348px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}

.productVarientsSetImg {
  width: 100%;
  position: absolute;
  top: 0;
}

.productVarientsSetImg img {
  width: 100%;
  height: 222px;
  object-fit: contain;
}

.productVarientsSetText {
  display: flex;
  width: 100%;
  padding: 48px 64px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  border: 1px solid #191919;
  background: rgba(34, 34, 34, 0.5);
}

.productVarientsSetText p {
  color: #fff;
  font-family: "Merriweather Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.productVarientsSetText span {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: "Merriweather Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Components */

.componentsBanner {
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.componentsBanner img {
  width: 100%;
  height: 100svh;
  object-fit: contain;
}

.componentsContainer {
  display: flex;
  padding: 128px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}

.componentsMainContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.componentsSelectorContainer {
  display: flex;
  width: 227px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.componentsSelectorSet {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  cursor: pointer;
}

.componentsSelectorSet .line {
  width: 1px;
  height: 28px;
  background: linear-gradient(to bottom, #111111, #ffffff, #111111);
}

.componentsSelectorContainer .active .line {
  width: 2.5px;
  background: linear-gradient(
    to bottom,
    #111111,
    #194d58,
    #36a7be,
    #194d58,
    #111111
  );
}

.componentsSelectorSet p {
  color: var(--text-cod-gray-700, #4f4f4f);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.componentsSelectorContainer .active p {
  color: var(--text-cod-gray-200, #d1d1d1);
  font-family: "Merriweather Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.componentDisplayContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.componentDisplayHeading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.componentDisplayHeading p {
  color: #fff;
  font-family: Merriweather;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.componentDisplayHeading span {
  width: 552px;
  color: var(--text-cod-gray-400, #888);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.componentDisplayDiv {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}

.componentDisplaySet {
  display: flex;
  width: 50%;
  height: 396px;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--text-cod-gray-900, #3d3d3d);
  box-shadow: -5px 4px 40px 0px rgba(113, 113, 113, 0.1);
}

.componentDisplayImg {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.componentDisplayImg img {
  width: 100%;
  object-fit: cover;
}

.componentDisplayTextContainer {
  display: flex;
  padding: 8px 16px 16px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.componentDisplayText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.componentDisplayText p {
  color: var(--default-white, #fff);
  font-family: "Merriweather Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.componentDisplayText span {
  color: var(--text-cod-gray-400, #888);
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.componentDisplayTextContainer .price {
  color: var(--text-cod-gray-200, #d1d1d1);
  font-family: "Merriweather Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.componentButtonDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.componentButton {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--text-cod-gray-100, #e7e7e7);
  cursor: pointer;
}

.componentButton p {
  color: var(--text-cod-gray-900, #3d3d3d);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.SeeLess svg {
  transform: rotate(-180deg);
}

/* Footer */

.footer {
  display: flex;
  width: 100%;
  height: 439px;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(90deg, #0a0b0f 45%, rgba(9, 10, 14, 0.34) 100%),
    url("./src/assets/footerBackground.png") no-repeat;
  background-position: right 0 top 0;
  overflow: hidden;
  gap: 24px;
}

.footer-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

.footer-text p {
  overflow: hidden;
  color: var(--default-white, #fff);
  text-overflow: ellipsis;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}

.footer-text-span {
  width: 493px;
  overflow: hidden;
  color: var(--text-cod-gray-300, #b0b0b0);
  text-overflow: ellipsis;
  font-family: "Merriweather Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.footer-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.footer-get-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.footerLinkText {
  z-index: 1;
  padding: 12px 24px;
  color: var(--text-cod-gray-50, #f6f6f6);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.footerLinkText svg {
  width: 24px;
  height: 24px;
}

.footerColorRotate {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(0deg, #36a7be 0%, #111111 50%);
  --_w: conic-gradient(#36a7be 0%, #111111 50%),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_w);
  mask: var(--_w);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  padding: 1px;
  animation: borderColorRotate 1.5s ease infinite;
}

.footer-get-quote:hover {
  background: #888888;
}

.footer-get-quote:hover .footerColorRotate {
  display: none;
}

.footer-get-quote:hover .footerLinkText {
  color: var(--text-cod-gray-900, #3d3d3d);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer-get-quote:hover svg path {
  stroke: #3d3d3d;
}

.footer .navbarLinkText {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerLine {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #111, #e7e7e7, #111);
}

.footerEnd {
  width: 100%;
  display: flex;
  padding: 24px 160px;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;
}

.footerEndLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.footerEndLeftTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.footerEndLeftTextContainer p {
  color: var(--text-cod-gray-200, #d1d1d1);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footerEndLeftTextContainer span {
  color: #fff;
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footerEndLeftTextContainer a {
  background: linear-gradient(
    90deg,
    #ffbf00 30.34%,
    #d9d9d9 63.52%,
    #ffbf00 97.92%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.footerEndRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
  flex: 1 0 0;
}

.footerEndRightSvg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footerEndRightSvg a {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.footerFacebook:hover {
  border-radius: 40px;
  background: #1877f1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.footerLinkedIn:hover {
  border-radius: 40px;
  background: #0274b3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.footerEndRightSvg a:hover svg path {
  stroke: #fff;
}

.footerEndRightTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.footerEndRightTextContainer a {
  color: var(--text-cod-gray-200, #d1d1d1);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.footerEndRightTextContainer a:hover {
  color: #fff;
}

/* Error 404 */

.Error404 {
  display: flex;
  width: 100%;
  min-height: 100svh;
  padding: 116px 160px 80px 160px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #111;
}

.Error404-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.Error-text {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.Error-text p {
  color: var(--default-white, #fff);
  text-align: center;
  font-family: "Merriweather";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.Error-text span {
  color: var(--text-cod-gray-200, #d1d1d1);
  text-align: center;
  font-family: "Merriweather Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.go-back-button {
  width: 140px;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  background: var(--text-cod-gray-900, #3d3d3d);
  cursor: pointer;
}

.go-back-button p {
  color: var(--text-cod-gray-100, #e7e7e7);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.go-back-button:hover p {
  color: var(--default-white, #fff);
  font-family: "Merriweather Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.Error-car {
  position: relative;
}

.loader1 {
  position: absolute;
  bottom: 29px;
  left: calc(50% - 235px);
}

.loader2 {
  position: absolute;
  bottom: 30px;
  left: calc(50% + 83px);
}

.loader {
  width: 102px;
  padding: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: conic-gradient(#36a7be, #263238);
  --_m: conic-gradient(#36a7be, #263238), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 1200px) {
  .Navbar {
    padding: 10px 20px;
    background: #111;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }

  .navbar-container {
    padding: 0;
    border: 0;
    height: 52px;
  }

  .navbar-buttons-container {
    display: none;
  }

  .mobileNavbarButton {
    display: block;
  }

  .mobileNavbar {
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: #111;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 12px 20px 20px 20px;
    justify-content: space-between;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  .activeMobileNavbar {
    transform: translateX(0);
    animation: slideIn 0.3s forwards;
    box-shadow: -200px 0 200px 100px rgba(0, 0, 0, 0.5);
  }

  .nonactiveMobileNavbar {
    transform: translateX(100%);
    animation: slideOut 0.3s forwards;
  }

  .mobileNavbarHeading {
    width: 100%;
    height: 44px;
    padding-right: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .mobileNavbarContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .mobileNavbarTab {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }

  .mobileNavbarTab a {
    display: flex;
    height: 36px;
    padding: 2px 0px;
    align-items: center;
    gap: 10px;
    color: var(--White-text, #fff);
    font-family: "Merriweather Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
  }

  .mobileNavbarContact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }

  .navbar-contact-button {
    width: 100%;
    flex-direction: column;
    gap: 0;
  }

  .navbarLinkText {
    width: 100%;
    text-decoration: none;
  }

  .borderColorRotate {
    width: 100%;
  }

  .navbar-contact-button:hover .borderColorRotate {
    width: 100%;
  }

  .mobileNavbarFooter {
    display: flex;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }

  .mobileNavbarFooter a {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
  }

  /* Home Page */

  .productBenifits {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .s-sub-heading {
    color: #fff;
    font-family: "Merriweather Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  .productBenifitsContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .productBenifitsContainer .s-heading {
    width: 100%;
  }

  .s-heading-sub-text {
    width: 100%;
  }

  .s-heading {
    color: var(--default-white, #fff);
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
  }

  .s-heading span {
    color: var(--default-white, #fff);
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  .s-heading-sub-text {
    color: var(--text-cod-gray-300, #b0b0b0);
    font-family: "Merriweather Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }

  .productBenifitsImg {
    width: 100%;
    height: auto;
  }

  .productBenifitsImg img {
    height: 374px;
  }

  .s-gallery {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .s-gallery .s-sub-heading {
    bottom: -24px;
    position: relative;
  }

  .s-galler-container {
    flex-direction: column;
    height: auto;
  }

  .s-gallery-img-container {
    width: 100%;
    height: 250px;
  }

  .s-gallery-img-container img {
    height: 250px;
  }

  .s-gallery-option-container {
    flex-direction: row;
    width: 100%;
  }

  .s-gallery-option-container svg {
    transform: rotate(-90deg);
  }

  .s-gallery-option-img-container {
    flex-direction: row;
    height: auto;
    gap: 16px;
  }

  /* Footer */

  .footer {
    padding: 48px 20px;
    height: 559px;
    justify-content: flex-end;
    background: linear-gradient(45deg, #0a0b0f 5%, rgba(9, 10, 14, 0.34) 50%),
      url("/src/assets/footerBackground.png") no-repeat;
    background-position: right 40% top -120px;
  }

  .footer-text p {
    width: 100%;
    color: var(--default-white, #fff);
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
  }

  .footer-text-span {
    width: 100%;
    color: var(--text-cod-gray-300, #b0b0b0);
    font-family: "Merriweather Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }

  .footer-button-container {
    width: 100%;
    flex-direction: column;
  }

  .footer-get-quote {
    width: 100%;
  }

  .footerLinkText {
    width: 100%;
  }

  .footerEnd {
    display: flex;
    padding: 48px 20px;
    align-items: center;
    gap: 24px;
    flex-direction: column;
  }

  .footerEndLeft {
    width: 100%;
    padding: 0px 12px;
  }

  .footerEndRight {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0px 12px;
    align-items: flex-start;
    gap: 8px;
  }

  .footerEndRightTextContainer {
    align-items: flex-start;
  }
}
